body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 48px;
  color: #d3c6ff;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #c59ee4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d2aaff;
}
